{% extends 'dashboard/partials/form_field.html' %}

{% load form_tags %}
{% load widget_tweaks %}

{% block widget %}
  {% if field.widget_type == 'CheckboxInput' %}
    <label for="{{ field.auto_id }}" class="checkbox {% if field.field.required %}required{% endif %}">
      {% render_field field %}
      {{ field.label|safe }}{% if field.field.required %} <span>*</span>{% endif %}
    </label>
  {% elif field.widget_type == 'RadioSelect' %}
    <label for="{{ field.auto_id }}" class="controls {% if field.field.required %}required{% endif %}">
      {% render_field field %}
    </label>
  {% else %}
    {% render_field field class+="form-control no-widget-init" %}
  {% endif %}
{% endblock %}
